.map-container {
    max-width: 50%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%);
    left: 50%;
  }

  .map {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;

  }

  .radius-input {
    margin-bottom: 40px;
  }

  .radius-input input {
    font-family: "Times New Roman MT Condensed Bold";
    font-size: 14px;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fef3d7;
  }

  .mapboxgl-ctrl {
    display: none !important;
  }

  @media (max-width: 1024px) {
    .map-container {
      max-width: 70%; 
    }

    .radius-input {
      margin-bottom: 40px; 
    }
  }
  
  @media (max-width: 768px) {
    .map-container {
      max-width: 80%; 
    }
  
    .radius-input {
      margin-bottom: 40px; 
    }
  }
  
  @media (max-width: 390px) {
    .map-container {
      max-width: 90%; 
    }

    .radius-input {
      margin-bottom: 40px; 
    }
  }