.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.map-container {
    max-width: 50%;
    height: 0;
    padding-bottom: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%);
    top: 5%;
    left: 50%;
  }

  .map {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;

  }

  /* .radius-input {
    margin-bottom: 20px;
  } */

  .radius-input input {
    font-family: "Times New Roman MT Condensed Bold";
    font-size: 14px;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .mapboxgl-ctrl {
    display: none !important;
  }

  